/* header principal */

header{
  position: fixed;
  width: 100%; /*Cubre el total de la pantalla*/
  max-width: 1400px;
  left: 50%; /* Sirve para dejar fijo el header*/
  transform: translateX(-50%);/*Funciona con "left de 50%" y hace que funcione ´para cualquier pantalla*/
  margin: auto;
  z-index: 10;
  backdrop-filter: blur(5px);
}
.header{
  color: var(--col-font);
  /*-webkit-text-stroke: rgb(151, 151, 151) 1px;*/
  display: flex;
  height: 7.5rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  background:var(--col-fondo-primario);
  gap: 2rem;
}
.header h1{
cursor: context-menu;
font-family: var(--font-principal);
text-shadow: rgb(230, 227, 227) 0px 0px 20px;
white-space: nowrap;/*Para que los títuklos de más de una palabra no pasen una enncima de la otra*/

}
.header img{
    border-radius: var(--border-radius-min);
    width: 80px;
    height: auto;
}
/* barra busqueda */

.header div{
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: var(--spacing-md);
  font-family: var(--font-general);
  border-right: 4px transparent solid;
  height: 4rem;
  
}
.btnheader{ /* agrupa los botones del header*/
  gap: 2rem;
}
.btn-login{
  padding-right: 1rem;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.455));
  border-right: 4px transparent solid;
  transition: .2s;
  width: auto;
  gap: 1rem;
}
.btn-login:hover, .btn-cart:hover{
  background-color: rgba(240, 248, 255, 0.427);
  border-right: 4px white solid
}
.btn-cart{
  gap: 1rem;
}
/* navegador */

.searchbar input{
  border-radius: 50px;
  height: 4rem;
  background-color: black;
  color: var(--col-font);
  width: 100%;
  max-width: 40rem;
  outline: rgb(255, 255, 255) solid 1px;
  padding-left: 2rem;
}
.navegador nav{
  display: flex;
  justify-content: center;
  background: rgba(28, 28, 28, 0.754);
  height: 5rem;
}
.navegador nav div{
  width: 20%;
  color: var(--col-font);
  font-family: var(--font-georama);
  font-size: var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(11, 11, 10, 0.467);
  border-right: 1px solid rgba(11, 11, 10, 0.467);
}

.navegador nav div:hover{
  background-color: rgb(182, 183, 185);
  cursor: pointer;
    transition: .2s ease-out;
}

.cnttlta{
  width: 3rem;
}
.totalh{
  width: 12rem;
}

@media (max-width: 1200px)/*Laptops*/ {
  .header {
    padding: 2rem;
  }
  
  .searchbar input {
    max-width: 30rem;
  }
}

@media (max-width: 992px)/*Tablets*/ {
  .header h1 {
    font-size: 1,5rem;
  }
  
  .btnheader {
    gap: 1rem;
  }

  .btn-login {
    width: auto;
    font-size: 0.7rem;
  }

  .totalh {
    display: none;/*Oculta el texto*/
  }
}

@media (max-width: 768px)/*Celulares*/{
  .header {
    height: auto;
    flex-wrap: wrap; /*/*Los elementos bajan de línea*/
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .searchbar {
    order: 3; /*Según el orden en el que estén escritas en el html, se establece la posición del objeto. 3 en este caso*/
    width: 100%;/*El objeto ocupará el 100% del espacio disponible*/
  } 

  .searchbar input {
    max-width: 100%;
  }

   .navegador nav div {
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid rgba(11, 11, 10, 0.467);
  }
}
