/* variables principales*/

:root{
    /*Colores principales*/
    --col-fondo-primario:rgba(11, 11, 11, 0.742);
    --col-fondo-secundario:rgb(253, 241, 241);
    --col-tarjeta-primario:rgb(126, 125, 133);
    --col-tarjeta-secundario:rgb(218, 218, 218);
    --col-font:rgb(247, 247, 247);
    --col-outline:rgb(0, 0, 0) solid 2px;
    --col-btn-normal:rgb(142, 142, 142);
    --col-bar-principal:rgba(28, 28, 28, 0.986);
    /*Sombras*/
    --col-boxshadow:rgba(5, 4, 4, 0.986);

    /*Valores primarios*/
    --boxshadow-sm:0px 0px 5px var(--col-boxshadow);
    --boxshadow-md:0px 0px 20px var(--col-boxshadow);
    --boxshadow-lg:0px 0px 40px var(--col-boxshadow);
    --border-radius-max:20px;
    --border-radius-min:8px;
    --margin-normal:20px;
    --spacing-sm:1.5rem;
    --spacing-md:2.0rem;
    --spacing-lg:4.5rem;

    /* fuentes*/
    --font-russo:"Russo One", sans-serif;
    --font-inter:"Inter", sans-serif;
    --font-georama:"Georama", sans-serif;
    --font-sans:"DM Sans", sans-serif;
    --font-principal: var(--font-inter);
    --font-secundaria: var(--font-georama);
    --font-titulo: var(--font-russo);
    --font-general: var(--font-sans);

    /* hr */
    --hr-principal: 90deg, transparent, rgb(240, 233, 138), transparent;
    }

/* reset del css */

html{
    font-size: 10px;
}
/* 1. Usa un mejor box-sizing*/
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}
input {
  border: none;    /* Elimina el borde principal */
  outline: none;   /* Elimina el brillo o línea al hacer clic (enfocar) */
}




/*body*/

hr{
  border: 0;
  height: 2px;
  background: linear-gradient( var(--hr-principal));
}

/* header principal */

header{
  position: fixed;
  width: 100vw;
}
.header{
  color: var(--col-font);
  /*-webkit-text-stroke: rgb(151, 151, 151) 1px;*/
  display: flex;
  height: 7.5rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 8rem;
  padding-right: 8rem;
  background:var(--col-fondo-primario);
}
.header h1{
cursor: context-menu;
font-family: var(--font-principal);
text-shadow: rgb(230, 227, 227) 0px 0px 20px;
}
.header img{
    border-radius: var(--border-radius-min);
    width: 80px;
}
/* barra busqueda */

.header div{
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: var(--spacing-md);
  font-family: var(--font-general);
  border-right: 4px transparent solid;
  height: 4rem;
}
.btnheader{ /* agrupa los botones del header*/
  gap: 4rem;
}
.btn-login{
  padding-right: 1rem;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.455));
  border-right: 4px transparent solid;
  transition: .2s;
  width: 20rem;
  gap: 1rem;
}
.btn-login:hover, .btn-cart:hover{
  background-color: rgba(240, 248, 255, 0.427);
  border-right: 4px white solid
}
.btn-cart{
  gap: 1rem;
}
/* navegador */

.searchbar input{
  border-radius: 50px;
  margin-right: -4rem;
  height: 4rem;
  background-color: black;
  color: var(--col-font);
  width: 50rem;
  outline: rgb(255, 255, 255) solid 1px;
  padding-left: 2rem;
}



.navegador nav{
  display: flex;
  justify-content: center;
  background: rgba(28, 28, 28, 0.754);
  height: 5rem;
}
.navegador nav div{
  width: 20%;
  color: var(--col-font);
  font-family: var(--font-georama);
  font-size: var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(11, 11, 10, 0.467);
  border-right: 1px solid rgba(11, 11, 10, 0.467);
}
.navegador nav div:hover{
  background-color: rgb(182, 183, 185);
  cursor: pointer;
    transition: .2s ease-out;
}

/* main */
main{
  height: 2080px;
}
.img-moto{
  width: 100vw;
}
/* footer */
footer{
  font-family: var(--font-general);
  color: var(--col-font);
  font-size: var(--spacing-sm);
  background-color: var(--col-bar-principal);
  height: auto;
  width: auto;
}
.footerup{
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15rem;
}
.footerup div{
  display: flex;
  gap:1.5rem;
}

.footermiddle{
  display: flex;
  align-content: center;
  justify-content: center;
}
.footerCont{
  background: rgba(235, 235, 235, 0.082);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  width: 75%;
  padding: 5rem;
  gap: 10rem;
  font-size:larger;
  border-radius: var(--border-radius-min);
  
}
.footerCont div{
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ftcont1{
  gap: 2rem;
}
.ftcont2{
  display: flex;
  width: 50%;
}
.ftcont2 div, input{
  height: 30%;
  border: 2px solid rgba(255, 255, 255, 0.299);
}
.ftcont2 input{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  padding-left: 2rem;
}
.ftcont2 div{
  background: rgb(94, 149, 250);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 11rem;
  display: flex;
  padding-left: 2rem;
  transition: .2s ease-in-out;
}
.ftcont2 div:hover{
  background-color: rgb(153, 188, 220);
  cursor: pointer;
}

article{
  background-color: rgb(231, 229, 229);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  font-family: var(--font-principal);
}

article img{
  height: 250px;
  width: 100%;
  max-height: 250px;
  margin: 0px;
}

section.product-grid{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
  display: grid;
}